body {
    transition: all 1s ease;
    background-color: #FFE5B4;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#intro{

    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    font-size: 5vw;
    font-weight: 700;
    color:black;

}

.pagination {
    transition: all 1s ease;
    opacity: 0;
    height: 0;
    overflow: hidden;
    display: flex;

}

.active{
    height: 16vw;
    opacity: 1;
}

.hide{
    opacity: 0;
    height: 0;
}



.links{


    width: 15vw;
    height: 15vw;

    margin: 1vw;
    display: flex;
    flex-grow: 1;
    transition: all 0.3s ease;
    display: flex;
}

.links:hover{

    opacity: 30%;
    cursor: pointer;

}

.imgtext{
    margin: 1vw;

    align-items: center;
    justify-content: center;

    position: absolute;
    z-index: -1;
    transition: all 1s ease;
    width: 15vw;
    opacity: 0;
    display: flex;
    font-family: "Roboto Mono", monospace;
    font-size: 1.5vw;
    font-weight: 700;
    cursor: default;



    height: 15vw;

    color:black;
}

.textShow{
    opacity: 1;
}

a {
    text-decoration: none;

    height: auto;
    width: auto;
    display: flex;
}